//Size of the cube faces
$size: 500px;
// centers the cube

#container {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s;
}
.perspective {
  display: inline-block;
  width: $size;
  height: $size;
  perspective: 1500px;
}
#cube {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  // transform: rotateY(15deg);
}
.cube-surface {
  overflow: hidden;
  width: inherit;
  height: inherit;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  animation: borderPulse 15s infinite;
  backface-visibility: hidden;
}
.home-face {
  transform: translate3d(0, 0, $size/2);
  background-image: url("imgs/Background2-min.jpg");
  background-position: center;
}
@keyframes borderPulse {
  0% {
    border: 3px solid #353839;
  }
  50% {
    border: 3px solid #88c8bd;
  }
  100% {
    border: 3px solid #353839;
  }
}
.about-face {
  transform: rotateY(90deg) translate3d(0, 0, $size/2);
  -webkit-transform: rotateY(90deg) translate3d(0, 0, $size/2);
  -moz-transform: rotateY(90deg) translate3d(0, 0, $size/2);
  -ms-transform: rotateY(90deg) translate3d(0, 0, $size/2);
  -o-transform: rotateY(90deg) translate3d(0, 0, $size/2);
  background-image: url("imgs/bshirt3.min.jpg");
  background-position: center;
}
.contact-face {
  transform: rotateY(-90deg) translate3d(0, 0, $size/2);
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, $size/2);
  -moz-transform: rotateY(-90deg) translate3d(0, 0, $size/2);
  -ms-transform: rotateY(-90deg) translate3d(0, 0, $size/2);
  -o-transform: rotateY(-90deg) translate3d(0, 0, $size/2);
  background-image: url("imgs/contact-min.jpg");
}
.project1-face {
  transform: rotateX(90deg) translate3d(0, 0, $size/2);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, $size/2);
  -moz-transform: rotateX(90deg) translate3d(0, 0, $size/2);
  -ms-transform: rotateX(90deg) translate3d(0, 0, $size/2);
  -o-transform: rotateX(90deg) translate3d(0, 0, $size/2);
  background-image: url("imgs/parksmart-min.jpg");
}
.project2-face {
  transform: rotateX(-90deg) translate3d(0, 0, $size/2);
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, $size/2);
  -moz-transform: rotateX(-90deg) translate3d(0, 0, $size/2);
  -ms-transform: rotateX(-90deg) translate3d(0, 0, $size/2);
  -o-transform: rotateX(-90deg) translate3d(0, 0, $size/2);
  background-image: url("imgs/sportstracker-min.jpg");
}
.project3-face {
  transform: rotateY(180deg) translate3d(0, 0, $size/2);
  -webkit-transform: rotateY(180deg) translate3d(0, 0, $size/2);
  -moz-transform: rotateY(180deg) translate3d(0, 0, $size/2);
  -ms-transform: rotateY(180deg) translate3d(0, 0, $size/2);
  -o-transform: rotateY(180deg) translate3d(0, 0, $size/2);
  background-image: url("imgs/hangman-min.jpg");
}
