// Content box styling for about and contact
#content1 {
	display: none;

	animation: fadeIn 2.2s linear;

	position: absolute;
	top: 56.5%;
	left: 42%;
	transform: translate(25%, -48%);

	width: 596px;
	height: 596px;

	border: 2px solid #88c8bd;
	color: #ece8e3;

	.about {
		display: none;
		animation: blur 1s linear, fadeIn 2.2s linear;
		margin: 0 30px;
		text-align: justify;
		h1 {
			text-align: center;
		}
		h3 {
			text-align: center;
		}
		h5 {
			margin: 0;
			text-align: center;
		}
		.codeIcons {
			margin: 0 auto;
		}
		ul {
			padding: 0;
			// margin: 0;
			list-style: none;
			text-align: center;
			li {
				display: inline-block;
				font-size: 42px;
				margin: 0 5px;
				color: #88c8bd;
			}
		}
	}
	.contact {
		display: none;
		animation: blur 1s linear, fadeIn 2.2s linear;
		margin: 60px 30px;
		text-align: justify;
		.contact-icons {
			position: absolute;
			bottom: 5%;
			left: 50px;
		}
		h1 {
			text-align: center;
		}
		ul {
			list-style: none;
			text-align: center;
			padding: 0;
			font-size: 14px;
			hr {
				margin: 30px 0;
				width: 500px;
				border: 0;
				height: 1px;
				background-color: #88c8bd;
			}
			a {
				text-decoration: none;
				text-align: center;
				color: #ece8e3;
				li {
					display: inline-block;
					margin: 0 40px;
					text-align: center;
					line-height: 25px;
					img {
						width: 35px;
						height: 35px;
					}
				}
			}
		}
	}
}

#content2 {
	display: none;
	animation: fadeIn 2.2s linear;
	position: absolute;
	top: 56.5%;
	right: 42%;
	transform: translate(-30%, -49%);
	width: 550px;
	height: 600px;
	border: 2px solid #88c8bd;
	color: #ece8e3;

	.project1 {
		display: none;
		margin: 0 30px;
		animation: blur 1s linear, fadeIn 2.2s linear;

		h1 {
			text-align: center;
		}
		h4 {
			line-height: 30px;
		}
		p {
			line-height: 30px;
			text-align: justify;
		}
	}
	.project2 {
		display: none;
		margin: 0 30px;
		animation: blur 1s linear, fadeIn 2.2s linear;

		h1 {
			text-align: center;
		}
		h4 {
			line-height: 30px;
		}
		p {
			line-height: 30px;
			text-align: justify;
		}
	}

	.project3 {
		display: none;
		margin: 0 30px;
		animation: blur 1s linear, fadeIn 2.2s linear;

		h1 {
			text-align: center;
		}
		h4 {
			line-height: 30px;
		}
		p {
			line-height: 30px;
			text-align: justify;
		}
	}
}
.projectLinks {
	text-align: center;
}
//Links to the live site
.liveLink {
	display: inline-block;
	text-align: center;
	margin: 0 10px;
	width: 200px;
	height: 40px;
	border: 2px dotted #0d0d0d;
	line-height: 20px;
	background-color: #88c8bd;
	a {
		display: block;
		text-decoration: none;
		color: #0d0d0d;
		padding: 10px;
	}
}
// Link to the code
.codeLink {
	display: inline-block;
	text-align: center;
	margin: 0 10px;
	width: 200px;
	height: 40px;
	border: 2px dotted #88c8bd;
	line-height: 20px;
	a {
		display: block;
		text-decoration: none;
		color: #88c8bd;
		padding: 10px;
	}
}

// Text blur animation for content boxes
@keyframes blur {
	0% {
		opacity: 0.4;
		text-shadow: 0 0 3px #ffffff, 3px 0 3px #ffffff, 0 3px 3px #ffffff,
			-3px 0 3px #ffffff, 0 -3px 3px #ffffff;
	}
	100% {
		opacity: 1;
		text-shadow: 0 0 0px #000000;
	}
}

// Fades in the content boxes
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
