//Logo styling

nav {
  color: #88c8bd;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border-top: 2px solid #88c8bd;
  font-family: Perpetua;
  .navBtns {
    display: inline-block;
    text-align: center;
    // margin: 0 5px;
    padding: 10px;
    width: 22%;
    background-color: rgba(0, 0, 0, 0.9);
    border-left: 1px solid #88c8bd;
    border-right: 1px solid #88c8bd;
    border-bottom: 1px solid #88c8bd;
    // border-top: 1px solid #88c8bd;
    border-radius: 3px;
  }
  .navBtns:hover {
    background-color: #88c8bd;
    color: black;
    cursor: pointer;
  }

  #logo {
    display: none;
    text-align: center;
    color: #88c8bd;
    text-shadow: 1px 1px black;
    width: 20%;
    cursor: pointer;
    // animation: grow 0.8s linear, fadeIn 4s linear;
    padding: 8px 2px;
    border-left: 1px solid #88c8bd;
    border-right: 1px solid #88c8bd;
    border-bottom: 1px solid #88c8bd;
    border-radius: 3px;
    background-color: black;
    overflow: hidden;
    h1 {
      display: inline-block;
      margin: 0;
      white-space: nowrap;
    }
    h4 {
      margin: 0;
      color: #353839;
      animation: pulse 15s infinite;
      font-size: 14px;
      white-space: nowrap;
    }
  }
}

.leftNav {
  display: inline-block;
  text-align: right;
  vertical-align: 45px;
  width: 38%;
}
.rightNav {
  display: inline-block;
  text-align: left;
  vertical-align: 45px;
  width: 38%;
}
@keyframes grow {
  0% {
    width: 0%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 20%;
  }
}
@keyframes shrink {
  0% {
    width: 20%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 0%;
  }
}
//Pulses the font color of the logo and home button
@keyframes pulse {
  0% {
    color: #353839;
  }
  50% {
    color: #88c8bd;
  }
  100% {
    color: #353839;
  }
}
