//Logo styling

#navBar {
  color: #88c8bd;
  text-align: center;
  border-bottom: 1px solid #353839;
  border-top: 1px solid #353839;
  height: 70px;

  padding: 10px 0 2px;
  margin-top: 10px;
  .navBtns {
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    padding: 10px;
    width: 20%;
  }
  #logo {
    text-align: center;
    color: #353839;
    text-shadow: 1px 1px black;
    display: inline-block;
    width: 20%;
    cursor: pointer;
    height: 69px;

    h1 {
      display: inline-block;
      margin: 0;
      line-height: 35px;
      color: #88c8bd;
      // line-height: 30px;
    }
    span {
      line-height: 35px;
      font-size: 16px;
      animation: pulse 15s infinite;
    }
  }
}
.leftNav {
  display: inline-block;
  text-align: right;
  // border: 2px solid yellow;
  line-height: 20px;
  width: 38%;
}
.rightNav {
  display: inline-block;
  text-align: left;
  // border: 2px solid yellow;
  line-height: 35px;
  width: 38%;
}
//Pulses the font color of the logo and home button
@keyframes pulse {
  0% {
    color: #353839;
  }
  50% {
    color: #88c8bd;
  }
  100% {
    color: #353839;
  }
}
