@import "normalize";
@import "boxStyling";
@import "navbuttons";
@import "contentBox";

html {
	font-family: Helvetica;
}
body {
	background-image: url("imgs/bg.jpg");
	background-position: center fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

