//Size of the cube faces
$size: 400px;

// centers the cube
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.perspective {
  display: inline-block;
  width: $size;
  height: $size;
  perspective: 600px;
}
#cube {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  transform: rotateX(-15deg) rotateY(15deg);
}
.cube-surface {
  overflow: hidden;
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0.6;
  background: red;
}
.front {
  transform: translate3d(0, 0, $size/2);
  background: green;
}
.back {
  transform: rotateY(180deg) translate3d(0, 0, $size/2);
  background-image: url("pic1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: $size;
}
.left {
  transform: rotateY(-90deg) translate3d(0, 0, $size/2);
  background-image: yellow;
}
.right {
  transform: rotateY(90deg) translate3d(0, 0, $size/2);
  background-image: orange;
}
.top {
  transform: rotateX(90deg) translate3d(0, 0, $size/2);
  background-image: pink;
}
.bottom {
  transform: rotateX(-90deg) translate3d(0, 0, $size/2);
  background-image: magenta;
}
.rotateBack {
  transform: rotateY(180deg);
}
